<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">notZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav mr-auto">

                {% if user %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notZ:schedule' %}">Мое расписание</a>
                </li>
                {% endif %}
                
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% if not user.is_authenticated %}
                <a class="btn btn-outline-dark mr-sm-2" href="{% url 'notZ:login' %}">Вход</a>
                <a class="btn btn-dark mr-sm-2" href="{% url 'notZ:registration' %}">Регистрация</a>
                {% else %}
                <a class="btn btn-outline-primary mr-sm-2"  href="{% url 'notZ:profile' %}"> {{ user.username }} </a>
                {% endif %}
            </form>
        </div>

    </div>
</nav>