<!DOCTYPE html>
<html lang="en">

<head>
    <title>Расписание</title>
    {% include "includes/head_includes.html"%}

    <style>
        .th-width{
            width: 50%;
        }

    </style>
</head>

<body>

<header>
    {% include "includes/navbar.html"%}
</header>

<div class="wrapper">
    <div class="container">
        <div class="form-title">
            <hr>
            <h1>{{day_name}}</h1>
            <hr>
        </div>
        <form method="POST">
            {%csrf_token%}
        <table class="table table-striped">

            <thead class="thead-dark">
            <tr>
                <th class="th-width">Урок</th>
                <th class="th-width">Задание</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {%for subj in subs%}
            <tr>
                <td>
                    <div class="form-group">
                    <input type="text" class="form-control" value="{{subj.name}}" name="{{subj.id}}" list="gr">
                    <datalist id='gr'>
                        {%for i in subjects%}
                        <option value="{{i.name}}"></option>
                        {% endfor %}
                    </datalist>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                    <input type="text" class="form-control" value="{{subj.hometask.return_str_non}}" name="hw_{{subj.id}}">
                    </div>
                </td>
                <td><input type="submit" value="Удалить" name='del_{{subj.id}}' class="btn btn-danger"></td>
            </tr>
            {%endfor%}

            </tbody>
        </table>
            <p> Новый предмет</p>
            <input type="text" class="form-control" value="" name="additional" list="gr1">
                    <datalist id='gr1'>
                        {%for i in subjects%}
                        <option value="{{i.name}}"></option>
                        {% endfor %}
                    </datalist>
            <br>
            <p>Заметка</p>
            <input type='text' value="{{day.note}}" placeholder="Заметка" name='notaa' class="form-control">
            <br>
            <input type="submit" value="Добавить" name='Add' class="btn btn-dark mr-sm-2">

            <input type="submit" value="Изменить" name='Change' class="btn btn-dark mr-sm-2">
        </form>
    </div>
</div>
</body>

</html>