<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "includes/head_includes.html"%}
</head>
<body>
<header>
    {% include "includes/navbar.html"%}
</header>
 <div class="wrapper">
    <div class="container">
        <br>
        <br>
        <br><br>
        <h1>ПОЧЕМУ НИЧЕГО НЕ РАБОТАЕТ ЫАЫВАЫВ</h1>
    </div>
 </div>

</body>
</html>