<!DOCTYPE html>
<html lang="en">
<head>
    <title>Профиль</title>
    {% include "includes/head_includes.html"%}
    <style>
        .user-section{
            margin-top: 50px;
        }
        .userdata{
            /*border: solid 1px black;
            padding: 3px 0;*/
            font-size: 1.1em;
            display: flex;
            
        }
        .userparam{
            display: inline-block;
            width: 40%;
        }
        .userparam-data{
            display: inline-block;
            width: 40%;
        }
    </style>
    {% include "includes/head_includes.html"%}
</head>

<body>
    
    <header>
        {% include "includes/navbar.html"%}
    </header>

    <div class="wrapper">
    <div class="container">
        <div class="form-title">
            <hr>
            <h1>Мой профиль</h1>
            <hr>
        </div>

    <section class="user-section">
        <div class="userdata"><div class="userparam">Логин: </div>          <div class="userparam-data">{{user.username}}</div> </div>
        <hr >
        <div class="userdata"><div class="userparam">Дата регистрации: </div>            <div class="userparam-data"> {{user.date_joined}}</div></div>
        <hr>
        <hr>
        <form method="POST">
            {% csrf_token %}
        <input type="submit" value="Выйти" name='logout' class="btn-danger btn btn-form">
        </form>
    </section>

    </div>
    </div>
</body>
</html>