<!DOCTYPE html>
<html lang="en">

<head>
    <title>Расписание</title>
    {% include "includes/head_includes.html"%}

    <style>
        .th-width{
            width: 50%;
        }

    </style>
</head>

<body>

<header>
    {% include "includes/navbar.html"%}
</header>

<div class="wrapper">
    <div class="container">
        <div class="form-title">
            <hr>
            <h1>Мое расписание</h1>
            <hr>
        </div>
        <div class="form-group">
            <h3>Понедельник</h3>
        </div>
        <a class="btn btn-dark mr-sm-2" style="color:white" name="monday" href="/1">Редактировать</a>
        <br>
        <br>
        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th class="th-width">Урок</th>
                <th class="th-width">Задание</th>
            </tr>
            </thead>
            <tbody>
            {%for i in Понедельник%}
            <tr>
                <td>{{i.name}}</td>
                <td>{% autoescape off %}{{i.hometask.return_str}}{% endautoescape %}</td>
            </tr>
            {%endfor%}
            </tbody>

        </table>
        <div style="background-color:#f2f2f2;height:50px; padding:10px">
                    <h5 style="background-color:#f2f2f2; color: #292929">{{f}}</h5>
        </div>
        <hr>
<br>
        <br>
        <div class="form-group">
            <h3>Вторник</h3>
        </div>
        <a class="btn btn-dark mr-sm-2" style="color:white" name="tuesday"  href="/2">Редактировать</a>
        <br>
        <br>
        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th class="th-width">Урок</th>
                <th class="th-width">Задание</th>
            </tr>
            </thead>
            <tbody>
            {%for i in Вторник%}
            <tr>
                <td>{{i.name}}</td>
                <td>{% autoescape off %}{{i.hometask.return_str}}{% endautoescape %}</td>
            </tr>
            {%endfor%}
            </tbody>

        </table>
        <div style="background-color:#f2f2f2;height:50px; padding:10px">
        <h5 style="background-color:#f2f2f2; color: #292929">{{s}}</h5>
        </div>
<hr><br>
        <br>
        <div class="form-group">
            <h3>Среда</h3>
        </div>
        <a class="btn btn-dark mr-sm-2" style="color:white" name="wednesday"  href="/3">Редактировать</a>
        <br>
        <br>
        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th class="th-width">Урок</th>
                <th class="th-width">Задание</th>
            </tr>
            </thead>
            <tbody>
            {%for i in Среда%}
            <tr>
                <td>{{i.name}}</td>
                <td>{% autoescape off %}{{i.hometask.return_str}}{% endautoescape %}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div style="background-color:#f2f2f2;height:50px; padding:10px">
        <h5 style="background-color:#f2f2f2; color: #292929">{{t}}</h5>
        </div>
<hr><br>
        <br>
        <div class="form-group">
            <h3>Четверг</h3>
        </div>
        <a class="btn btn-dark mr-sm-2" style="color:white" name="thursday" href="/4">Редактировать</a>
        <br>
        <br>
        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th class="th-width">Урок</th>
                <th class="th-width">Задание</th>
            </tr>
            </thead>
            <tbody>
            {%for i in Четверг%}
            <tr>
                <td>{{i.name}}</td>
                <td>{% autoescape off %}{{i.hometask.return_str}}{% endautoescape %}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div style="background-color:#f2f2f2;height:50px; padding:10px">
        <h5 style="background-color:#f2f2f2; color: #292929">{{fo}}</h5>
        </div>
<hr><br>
        <br>
        <div class="form-group">
            <h3>Пятница</h3>
        </div>
        <a class="btn btn-dark mr-sm-2" style="color:white" name="friday"  href="/5">Редактировать</a>
        <br>
        <br>
        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th class="th-width">Урок</th>
                <th class="th-width">Задание</th>
            </tr>
            </thead>
            <tbody>
            {%for i in Пятница%}
            <tr>
                <td>{{i.name}}</td>
                <td>{% autoescape off %}{{i.hometask.return_str}}{% endautoescape %}</td>
            </tr>
            {%endfor%}
            </tbody>

        </table>

        <br>
        <div style="background-color:#f2f2f2;height:50px; padding:10px">
            <h5 style="background-color:#f2f2f2; color: #292929">{{fi}}</h5>
        </div>
        <hr>
        <br>
        <div class="form-group">
            <h3>Суббота</h3>
        </div>
        <a class="btn btn-dark mr-sm-2" style="color:white" name="saturday" href="/6">Редактировать</a>
        <br>
        <br>
        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th class="th-width">Урок</th>
                <th class="th-width">Задание</th>
            </tr>
            </thead>
            <tbody>
            {%for i in Суббота%}
            <tr>
                <td>{{i.name}}</td>
                <td>{% autoescape off %}{{i.hometask.return_str}}{% endautoescape %}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div style="background-color:#f2f2f2;height:50px; padding:10px">
        <h5 style="background-color:#f2f2f2; color: #292929">{{si}}</h5>
        </div>
    </div>
</div>
</body>

</html>